[submodule "rely/spdlog"]
	path = rely/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "rely/rtklib"]
	path = rely/rtklib
	url = https://github.com/NavTool/rtklib-2.4.3b34.git
[submodule "rely/FluentUI-Pro"]
	path = rely/FluentUI-Pro
	url = https://github.com/zhuzichu520/FluentUI-Pro.git
[submodule "rely/yaml-cpp"]
	path = rely/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "rely/json"]
	path = rely/json
	url = https://github.com/nlohmann/json.git
[submodule "lib"]
	path = lib
	url = https://github.com/NavTool/navtool_libs.git
[submodule "rely/abseil-cpp"]
	path = rely/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
